@using Entity.Models
@model List<Sehir>


@using (Html.BeginForm())
{
    <!-- Header -->
    <div id="header-wrapper" class="wrapper">
        <div id="header">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">Gez</a></h1>
                <p>Ana sayfaya dönek için tıklayın !!</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="/Home/Anasayfa">Anasayfa</a></li>
                    <li>
                        <a href="#">Tanı!</a>
                        <ul>                      

                            @foreach (Sehir item in Model)
                                {
                                    <li>                                        
                                            <a href="#">@item.SehirBölge</a>
                                            <ul>
                                                @foreach (Sehir il in Model)
                                                {
                                                    if (item.SehirBölge == il.SehirBölge)
                                                    {
                                                        <li><a href="/Home/SehirDetay/@item.SehirID">@il.SehirAd</a></li>
                                                    }
                                                }
                                            </ul>                                       

                                    </li>
                                }
                        </ul>
                    </li>
                    <li><a href="/Home/GeziDetay">Gez!</a></li>
                    <li><a href="/Home/YemeIcmeDetay">Ye,İç!</a></li>
                    <li>

                        @if (Session["username"] == null)
                        {
                            <a href="/Account/Login">Tavsiye Et!</a>
                        }
                        else
                        {
                            <a href="/Home/CreateAll">Tavsiye Et!</a>

                            if (Session["username"].ToString() == "")
                            {
                                <a href="/Account/Login">Tavsiye Et!</a>
                            }
                        }

                    </li>
                </ul>
            </nav>

        </div>
    </div>

}
